<!DOCTYPE html>
<html>
<head>
	<link href="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-Vkoo8x4CGsO3+Hhxv8T/Q5PaXtkKtu6ug5TOeNV6gBiFeWPGFN9MuhOf23Q9Ifjh" crossorigin="anonymous">
	<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
  <link href="https://fonts.googleapis.com/css?family=Raleway:400,500,500i,700,800i" rel="stylesheet">
  <meta charset="utf-8" name="viewport" content="width=device-width, initial-scale=1.0">
	{% block head %}
	{% endblock %}
</head>
<body>
  
	 <nav class="navbar navbar-expand-sm   navbar-light bg-light">
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarTogglerDemo03" aria-controls="navbarTogglerDemo03" aria-expanded="false" aria-label="Toggle navigation">
          <span class="navbar-toggler-icon"></span>
        </button>
        <a class="navbar-brand" class="nav-link" href="/">Social Network</a>
        {% if user.is_authenticated %}
        <div class="collapse navbar-collapse" id="navbarTogglerDemo03">
          
          <ul class="navbar-nav mr-auto mt-2 mt-lg-0">
            <li class="nav-item">
              <a class="nav-link" href="{% url 'home:home' %}">Home</a>
            </li>
            
            <li class="nav-item"><a class="nav-link" href="{% url 'accounts:view_profile' %}">Profile</a>
            </li>
            <li class="nav-item"><a class="nav-link" href="{% url 'accounts:edit_profile' %}">Edit</a>
            </li>
            <li class="nav-item"><a class="nav-link" href="{% url 'accounts:change_password' %}">Change-Password </a>
            </li>
            
          </ul>
          </div>
          <div class="collapse navbar-collapse" id="navbarTogglerDemo03" >
        <ul class="navbar-nav ml-auto mt-2 mt-lg-0">
            <li class="nav-item">
              <a class="nav-link" href="{% url 'accounts:logout' %}">Logout</a>
            </li>
        </ul>
    </div>
          {% else %}
        <div class="collapse navbar-collapse" id="navbarTogglerDemo03">
        <ul class="navbar-nav ml-auto mt-2 mt-lg-0">
           
               <li class="nav-item">
              <a class="nav-link" href="{% url 'accounts:login' %}">Login</a>
            </li>
             <li class="nav-item">
                <a class="nav-link" href="{% url 'accounts:register' %}">Register</a>
            </li>
            <li class="nav-item"><a class="nav-link" href="{% url 'accounts:reset_password' %}">Reset-Password</a>
            </li>
        </ul>
    </div>
    {% endif %}
      </nav>
      <div class="container">
	{% block body %}
	{% endblock %}
  </div>
</body>
<script
  src="https://code.jquery.com/jquery-3.4.1.min.js"
  integrity="sha256-CSXorXvZcTkaix6Yvo6HppcZGetbYMGWSFlBw8HfCJo="
  crossorigin="anonymous"></script>

<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/js/bootstrap.min.js" integrity="sha384-wfSDF2E50Y2D1uUdj0O3uMBJnjuUD4Ih7YwaYd1iqfktj0Uod8GCExl3Og8ifwB6" crossorigin="anonymous"></script>

</html>