{% extends 'accounts/base.html' %}
{% load static %}


{% block head %}
	<link rel="stylesheet" type="text/css" href="{% static 'accounts/style.css' %}">
{% endblock %}


{% block body %}
		<h1>Password Reset</h1>
		<p>Forgotten your password? Enter your email address below, and we’ll email instructions for setting a new one.</p>
		<form method="post">
			{% csrf_token %}
			{{form.as_p}}
			<button class="btn btn-danger btn-sm" type="submit" name="button">
			Reset my password
		</button>
		</form>
	
{% endblock %}